*{
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}


div h4{
	padding-top: 1em;
	padding-right: 1em;
}
.card {
	padding-bottom: 2em;
	padding-top: 2em;
	background-color: #FDFCDC;
	max-width: 15em;
}



/*carousel*/
	/*slides*/
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin:auto;

}

	/*images*/
.Containers {
	display:none;
}

	/*buttons*/
.Back, .forward {
	cursor:pointer;
	position: absolute;
	top: 48%;
	width: auto;
	margin-top: -23px;
	padding: 17px;
	color: grey;
	font-weight:bold;
	font-size: 19px;
	transition: 0.3s ease;
	user-select: none;
}
/* the styles for the footer */
footer {
	background-color: #f7e1d7;
	position: relative;
	left: 0;
	bottom: 0;
	top:0;
	width: 100%;	
	
}

footer p {
	text-align: center;
	color: #22333b;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
 