*{
	box-sizing: border-box;
}




/*header*/
div h1 {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 12m;
	font-size: 15em;
	font-weight: 800;
	opacity: 0; 
	animation: fadeIn 3s ease-in;
	animation-fill-mode: forwards;
}


/*animation*/
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
	
	0%   {color: #22333b}
	25%   {color: #857C8D}
	50%   {color: #548C8B}
	75%   {color: 505168}
	100% {color: #22333b}
}

/*figure out how to get the serene misul on the homepage
to resize when the window is changed*/

div h4{
	padding-top: 4em;
	padding-bottom: 1em;
	margin-left: 5em;
	margin-right: 5em;
	text-align: center;
	margin-bottom: 5em;
	font-size: x-large;
	font-family: 'Times New Roman', Times, serif;
}

/*css for jumbotron*/
.jumbotron{
	background-color: #22333b !important;
}

/* the styles for the footer */
footer {
	background-color: #22333b;
	border-radius: 25px;
	margin-top: 4em;
	position: relative;
	left: 0;
	bottom: 0;
	top:0;
	width: 100%;	
	
}

footer p {
	text-align: center;
	color: #FFFFFF;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-family: 'Times New Roman', Times, serif;
}
 