*{
	font-family: Arial, Helvetica, sans-serif;
}



div div nav {
	height: 5em;
	font-weight: 1000;
}


/* styles for the header*/
div div h4 {
	margin-top: 1em;
	text-align: left;
}

h4 {
	margin-top: 0.5em;
	text-align: right;
}


/* the styles for the footer */
footer {
	background-color: #22333b;
	border-radius: 25px;
	position: relative;
	left: 0;
	bottom: 0;
	top:0;
	width: 100%;	
	
}

footer p {
	text-align: center;
	color: #FFFFFF;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}