*{
	font-family: Arial, Helvetica, sans-serif;
}
/* the styles for the footer */
footer {
	background-color: #f7e1d7;
	position: relative;
	left: 0;
	bottom: 0;
	top:0;
	width: 100%;	
	
}

footer p {
	text-align: center;
	color: #22333b;
	margin-top: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
 